@model IEnumerable<Answer>
@{ 
    ViewBag.Title = "Statistik"; 
    }

    <table class="table table-bordered table-striped">
        <tr>
            <th>Id</th>
            <th>Opgavetitel</th>
            <th>Besvarelse</th>
            <th>Tidspunkt</th>
        </tr>
        @foreach (Answer a in Model) {
        <tr>
            <td width="5%">@a.AnswerId</td>
            <td width="15%">@a.AnsweredAssignment?.Headline</td>
            <td width="50%">@a.ChosenAnswerOption?.Text</td>
            <td width="30%">@a.TimeAnswered.ToString()</td>
        </tr>
        }
    </table>