@model Location

<div class="panel panel-succes">
    <div class="panel-heading text-center">
        <h4>Lokation!!</h4>
    </div>
    <div class="panel-body">
        <form class="p-a-1" asp-action="Edit" method="POST">
            <div asp-validation-summary="All"></div>
            <input type="hidden" value="@Model.LocationId" asp-for="LocationId" />
            <div class="form-group">
                <label asp-for="Title">Titel:</label>
                <input class="form-control" asp-for="Title" />
            </div>
            <div class="form-group">
                <label asp-for="Description">Beskrivelse:</label>
                <input class="form-control" asp-for="Description" />
            </div>    
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Gem</button>
            </div>
        </form>
    </div>
</div>