@*
    
*@
@{

<html>
    <body>
        dette er testen
            <a asp-action="Generate_QR" class="btn btn-sm btn-warning" asp-route-assignmentId="1">
                Generer QR Kode
            </a>
    </body>
</html>

}
