@model int
@{
    Layout = null;
 }
 <html>
     <head>
         <title>Lokation @Model</title>
     </head>
     <body>

        <center><h1>Lokation @Model</h1></center>
        <center><img src="~/custom/images/locationQR.bmp" alt="QR Code not found!" width=500 height=500></center>
     </body>
 </html>