@model Location
@{
    ViewBag.Title = "QR-kode";
}
<script type="text/javascript">
function printImg() {
  pwin = window.open(document.getElementById("mainImg").src,"_blank");
  pwin.onload = function () {window.print();}
}
</script>
<div class="text-center">
  <h1>ADL</h1>
  <h2>Lokation: @Model.Title</h2>
</div>

<center><img src="~/custom/images/locationQR.bmp" id="mainImg" alt="QR Code not found!" width=500 height=500></center>
<input class="btn btn-primary btn-lg pull-right" type="button" value="Print"  onclick="printImg()" />


