@model Location
@{
    ViewBag.Title = "QR-kode";
}
<script type="text/javascript">
function printImg() {
  pwin = window.open(document.getElementById("mainImg").src,"_blank");
  pwin.onload = function () {window.print();}
}
</script>
<div class="text-center">
  <h1>ADL</h1>
  <h2>Lokation: @Model.Title</h2>
</div>

<div class="text-center">
    <img src="~/custom/images/locationQR.bmp" id="mainImg" alt="QR Code not found!" width=500 height=500>
</div>
<div class="text-center">
    <input class="btn btn-primary" type="button" value="Print" onclick="printImg()" />
</div>