@model int
@{
    ViewBag.Title = Model;
}
<script type="text/javascript">
function printImg() {
  pwin = window.open(document.getElementById("mainImg").src,"_blank");
  pwin.onload = function () {window.print();}
}
</script>
<h1>Lokation @Model</h1>
<center><img src="~/custom/images/locationQR.bmp" id="mainImg" alt="QR Code not found!" width=500 height=500></center>
<input class="btn btn-primary btn-lg pull-right" type="button" value="Print"  onclick="printImg()" />


