<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ADL</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
</head>

<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Active Differentiated Learning</a>
        <div class="pull-right">
        </div>
    </div>
    <div class="row panel">
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>
</body>

</html>