@model AssignmentSet

@{
    ViewBag.Title = "Opgave Sæt";
}

<div class="panel panel-succes">
    <div class="panel-heading text-center">
        <h4>Opret et opgavesæt</h4>
        <form class="p-a-1" asp-action="Edit" method="POST">
<<<<<<< HEAD
            <div asp-validation-summary="All"></div>
            <input type="hidden" value="@Model.AssignmentId" asp-for="AssignmentId" />
            <div class="form-group">
                <label asp-for="Headline">Titel:</label>
                <input class="form-control" asp-for="Headline" />
            </div>
            <div class="form-group">
                <label asp-for="Question">Spørgsmål:</label>
                <input class="form-control" asp-for="Question" />
            </div>
            <input type="button" id="addAnswer()" onclick="addAnswer()" value="+"/>
            <div class="form-group" id="answer-option-group">
                @if(Model.AssignmentId == 0)
                {
                    <div>
                    <label asp-for="AnswerOptions">Svarmulighed 1:</label>
                    <input class="form-control" asp-for="AnswerOptions[0].Text" />
                    <label asp-for="AnswerOptions">Svarmulighed 2:</label>
                    <input class="form-control" asp-for="AnswerOptions[1].Text">
                    
                    </div>
                   <!-- <input type="button" onclick="removeAnswer(this)" value = "-"> -->
                    
                }
                else
                {
                    @for(int i=1; i <= Model.AnswerOptions.Count(); i++)
                    {
                        <label asp-for="AnswerOptions">Svarmulighed nr @i:</label>                 
                        <input class="form-control" asp-for="AnswerOptions[i-1].Text" /> 
                    }
                      
                }
                
             </div>
            <div class="form-group">
                <label asp-for="CorrectAnswer">Korrekte svar:</label>
                <select class="form-control" asp-for="CorrectAnswer">
                        <option value="0">Første svarmulighed</option>
                        <option value="1">Anden svarmulighed</option>
                        <option value="2">Tredje svarmulighed</option>
                        <option value="3">Fjerde svarmulighed</option>
                    </select>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Gem</button>
            </div>
=======
            <input type="hidden" asp-for="AssignmentSetId" value="0" />
            <label asp-for="Headline">Titel</label>
            <input class="form-control"asp-for="Headline" />
            <label asp-for="Description">Beskrivelse</label>
            <input class="form-control"asp-for ="Description" />
            <label asp-for="Publicity"asp.for>Dele egenskaber</label>
            <input class="form-control"asp-for="Publicity"/>
            <input type="hidden" asp-for="Date" value="DateTime"/>
            <button class="btn btn-md btn-success" type="submit">Multiple Choice</button>
            <button class="btn btn-md btn-success" type="submit">Exclusive Choice</button>
            <button class="btn btn-md btn-success" type="submit">Text</button>
            <button class="btn btn-md btn-success" type="submit">Opret</button>
>>>>>>> eed07edf56a92239337ba70bad5b0eb80bef3e24
        </form>
    </div>
</div>