@model Assignment

<form asp-action="Solve" method="POST">
    @foreach(string answer in Model.Answers) {
    <input type="radio">@answer<br> }
</form>

<div class="panel panel-succes">
    <div class="panel-heading text-center">
        <h4>Solve</h4>
    </div>
    <div class="panel-body">
        <form class="p-a-1" asp-action="Solve" method="POST">
            <div asp-validation-summary="All"></div>

            @for(int i=0; i < Model.Answers.Length; i++)
            {
            <input type="radio" value="@i">@Model[i]<br> 
            }
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>

<a asp-controller="Home" asp-action="Index" class="nav-link">Back to frontpage</a>