body {

}

.glyphicon-large {
    font-size: 70px;
}

.call-to-action {
    text-align: center;
}

.jumbotron-fix {
    background: url(../images/jumbbg.jpg);
}

.jumbotron-fix h1, .jumbotron p {
    color: #ffffff;
}

.jumbotron-create {
    background-color: palegreen;
}

.input-validation-error {
    border-color: red;
    background-color: #fee;
}

a.glyph-black-link
{
    color: #222;
}

a.glyph-green-link
{
    color:#A4C639;
}

