body {

}

.glyphicon-large {
    font-size: 70px;
}

.call-to-action {
    text-align: center;
}

.jumbotron-fix {
    background: url(../images/jumbbg.jpg);
    min-height: 400px;
}

.jumbotron-fix h1, .jumbotron p {
    color: #ffffff;
}

.jumbotron-create {
    background-color: palegreen;
}

