<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ADL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["Description"]" />
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css" />
</head>
<body>
    
    <div class="wrapper">
        <main class="container">
            <h1>ADL titel</h1>
            @RenderBody()
        </main>
    </div>
</body>
</html>