<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
    <link rel="stylesheet" type="text/css" href="~/custom/css/csscustom.css">

    <script asp-src-include="lib/jquery/**/jquery.min.js"></script>
    <script asp-src-include="lib/jquery-validation/**/jquery.validate.min.js"></script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/**/*.min.js"></script>
    <script asp-src-include="js/addTextbox.js"></script>

    <title>@ViewBag.Title - ADL</title>
</head>

<body>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">ActiveLearning</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a asp-controller="Assignment" asp-action="Create"><span class="glyphicon glyphicon-plus"></span> Opret opgave</a></li>
                <li><a asp-controller="Assignment" asp-action="List"><span class="glyphicon glyphicon-paperclip"></span> Opgavebibliotek</a></li>
                <li><a asp-controller="Location" asp-action="List"><span class="glyphicon glyphicon-map-marker"></span> Lokationer</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-stats"></span> Statistik</a></li>
                <!--<li class="dropdown">   
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>-->   <!--DROPDOWN MENU-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <div class="btn-group" role="group">
                    <a href="#" class="btn btn-success navbar-btn"><span class="glyphicon glyphicon-log-in"></span> Log ind</a>
                    <a href="#" class="btn btn-danger navbar-btn"><span class="glyphicon glyphicon-log-out"></span> Log ud</a>
                </div>
            </ul>
        </div>
    </div>
</nav>

<div class="container body-content">
    @if (TempData["message"] != null) {
            <div class="alert alert-success">@TempData["message"]</div>
        }
    @RenderBody()
    <hr/>
    <footer>
        <p class="text-center">&copy; 2016 - e309, Aalborg Universitet</p>
    </footer>
</div>

</body>
</html>