<h2>Velkommen!</h2>
<p>Hej, og velkommen til forsiden af Active Differentiated Learning!</p>

<a asp-controller="Assignment" asp-action="Create" class="btn btn-primary btn-lg">Opret opgave</a>
<a asp-controller="Assignment" asp-action="List" class="btn btn-primary btn-lg">Se alle opgaver</a>