<p>Index - Hello, World!</p>

<a asp-action="Time" class="btn btn-success btn-lg">The time??</a>
<a asp-controller="Assignment" asp-action="Create" class="btn btn-primary btn-lg">Opret opgave</a>
<a asp-controller="Assignment" asp-action="List" class="btn btn-primary btn-lg">Se alle opgaver</a>